<!--footer-->
<footer>
  <div class="container-fluid">
  <!--about-->
  <div class="row text-light p-5" style="background-color: #42288b">
    <!--Tentang Kami-->
    <div class="col-lg-6 pb-3">
      <h5><strong>Tentang Kami</strong></h5>
      <p>Kami adalah perusahaan yang bergerakdi bidang pendidikan, dengan mengutamakan pemerataan pendidikan di masa pandemi melalui pendampingan anak sekolah dengan tutor yang sesuai.</p>
      <div class="row">
        <div class="col d-flex align-items-center">
          <a href="#" class="pe-3"><img src="/img/homepage/Facebook.svg" alt="" width="40px" /></a>

          <a href="#" class="pe-3"><img src="/img/homepage/Instagram.svg" alt="" width="40px" /></a>

          <a href="#" class="pe-3"><img src="/img/homepage/Twitter.svg" alt="" width="40px" /></a>

          <a href="#"><img src="/img/homepage/Whatsapp.svg" alt="" width="40px" /></a>
        </div>
      </div>
    </div>
    <!--Kontak-->
    <div class="col-lg-6">
      <div class="rows">
        <h5><strong>Kontak</strong></h5>
        <ul class="list-group" style="list-style-type: none">
          <li><img src="/img/homepage/Location.svg" alt="" />Jl. Dulu aja yuk No. 26 Surabaya, Indonesia</li>
          <li><img src="/img/homepage/Mail.svg" alt="" />username@domain.com</li>
          <li><img src="/img/homepage/Phone.svg" alt="" />(+62) 812 3456 7890</li>
        </ul>
      </div>
    </div>
  </div>
  <!--copyright-->
  <div class="row text-light py-3" style="background-color: #311d68; font-size: 14px">
    <div class="col-lg-12 text-center">Copyright (c) SYNRGY Academy 2021</div>
  </div>
</div>
</footer>

