<nav
  class="navbar navbar-expand-lg navbar-light border-bottom border-secondary"
>
  <div class="container align-items-center">
    <a class="navbar-brand" href="/parents-dashboard"
      ><img src="/img/homepage/Logo.svg" alt="" width="110px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-3" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto align-items-center">
        <a
          class="nav-link active"
          aria-current="page"
          href="/parents-dashboard"
          style="color: #7749f8"
          >Dashboard</a
        >
        <a class="nav-link" href="/service" style="color: #7749f8">Service</a>
        <a class="nav-link" href="/penawaran" style="color: #7749f8"
          >Penawaran</a
        >
        <a
          class="nav-link ps-2"
          href="/logout"
          id="logout"
          style="color: #7749f8"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>