.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #848689;
  opacity: 0.5;
}

.table-default {
  background-color: #7749f8;
}

.dashboard-container {
  height: 75vh;
}
