body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.body-text {
  color: #848689;
}
.btn-primary {
  background-color: #7749f8 !important;
  border-color: #7749f8;
}
.btn-outline-primary {
  color: #7749f8;
  border-color: #7749f8;
}
.jumbotron {
  padding-top: 20vh;
  /* background-color: #8f5ef2; */

  background-image: url("/img/homepage/BannerHomepage.png");
  /* background-image: url("/mini_project/src/public/img/homepage/BannerHomepage.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.jumbotron-1 {
  padding-top: 10vh;
  /* background-color: #8f5ef2; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 400px; */
}

.jumbotron2 {
  padding-top: 15vh;
  /* background-color: #8f5ef2; */
  background-image: url("/img/homepage/Jumbotron2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.jumbotron3 {
  padding-top: 15vh;
  /* background-color: #8f5ef2; */
  background-image: url("/img/homepage/Jumbotron3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

small {
  /* letter-spacing: 2px; */
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

h6 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.dropdown-menu {
  width: 300px !important;
  height: 400px !important;
}

.btn-outline-secondary {
  color: #9b9ea2;
  border-color: #9b9ea2;
}
/* Tambah Laporan */

.btn-hover:hover {
  background-color: #7749f8;
}

/* .dropdown-matpel,
  .dropdown-matpel:hover .dropdown-toggle,
  .dropdown-toggle {
    background-color: transparent;
  } */

.vh-75 {
  height: 75vh;
}

.btn-outline-primary:hover {
  color: #7749f8;
  background-color: #ffffff;
  border-color: #7749f8;
}

@media (min-width: 992px) {
}
.col-form-label {
  font-size: 14px;
  font-weight: bold;
}
.form-control {
  font-size: 14px;
}
