<!DOCTYPE html>
  <html lang="en">
        <head>
          <link rel="stylesheet" href="/bootstrap/css/hasilPencarian.css" />
          <%- include('../partials/basic/header', { title: 'HasilPencarian-Detail Tutor' }) %>
        </head>
        <body>
          <%- include('../partials/basic/navbar') %>
          <div></div>
          <%- include('../partials/service-detail.ejs') %>
          <div></div>
          <%- include('../partials/basic/footer') %>
        </body>
  </html>
      