<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/basic/header', { title: 'Detail Murid' }) %>
  </head>
  <body>
    <%- include('../partials/basic/navbar') %>
    <div></div>
    <%- include('../partials/child-detail.ejs') %>
    <div></div>
    <%- include('../partials/basic/footer') %>
  </body>
</html>
