<!DOCTYPE html>
  <html lang="en">
      <head>
        <link rel="stylesheet" href="/bootstrap/css/hasilPencarian.css" />
        <%- include('../partials/basic/header', { title: 'Hasil Pencarian' }) %>
      </head>
      <body>
        <%- include('../partials/basic/navbar') %>
        <div></div>
        <%- include('../partials/service-result.ejs') %>
        <div></div>
        <%- include('../partials/basic/footer') %>
      </body>
  </html>
    