<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/basic/header', { title: 'Dashboard Tutor' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>

    <div class="container mt-4">
      <h3>Dashboard</h3>
      <form class="row row justify-content-around" action="/tutor-dashboard" method="POST">
        <div class="form-group has-search col-9">
          <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" id="inputSearch" name="cari" placeholder="masukan nama murid" />
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-primary mb-3 w-100">Cari</button>
        </div>
      </form>
    </div>

    <div class="container dashboard-container">
      <table class="table">
        <tbody>
          <tr class="table-default text-white">
            <td>Nama Murid</td>
            <td>Usia</td>
            <td>Kelas</td>
            <td>Deskripsi</td>
          </tr>
          <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><a href="student/<%= data[i].childId %>"><%= data[i].child.name %></a></td>
            <td><%= data[i].child.age %></td>
            <td><%= data[i].child.kelas %></td>
            <td><%= data[i].child.deskripsi %></td>
          </tr>

          <tr>
            <% } %>

            <small style="color: #2e2e2e">
              <!-- <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td> -->
            </small>
          </tr>

          <tr>
            <!-- <td>3</td>
            <td>4</td>
            <td>4</td>
            <td>4</td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <!--footer-->
    <%- include('partials/basic/footer') %>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
