<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/basic/header', { title: 'Detail Murid' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>

    <!-- Detail Murid -->
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start mt-4 mb-2">
          <li class="page-item">
            <a class="page-link border-0 text-secondary" href="/tutor-dashboard" tabindex="-1"> <img src="/img/tambahLaporan/Name=Back.svg" alt="" />Kembali</a>
          </li>
        </ul>
      </nav>
      <div class="col-lg-12">
        <div class="box border border-secondary p-5" style="border-radius: 7px">
          <div class="row d-md-flex align-items-md-center">
            <div class="col-lg-3">
              <picture>
                <img src="/img/homepage/Ardhan.png" alt="" width="200px" />
              </picture>
            </div>

            <% for (let i = 0; i < data.length; i++) { %>
            <div class="col-lg-9">
              <h2 class="text-start"><%= data[0].student.child.name %></h2>
              <small style="color: #585859"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(data[0].student.child.birthday)) %></small>
              <br />

              <small style="color: #585859"><%= data[0].student.service.name %></small>
              <br />
              <small style="color: #585859"><%= data[0].student.child.id%></small>
              <br />
              <small style="color: #585859"><%= data[0].student.child.deskripsi %></small>
            </div>
            <% break %>
            <% } %>
          </div>
        </div>
      </div>
      <!-- Akhir Detail Murid -->

      <!-- Detail Laporan -->
      <div class="container mt-4">
        <h3>Laporan</h3>
        <form class="row row justify-content-around">
          <div class="form-group has-search col-9">
            <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" id="inputSearch" placeholder="masukan tanggal, mata pelajaran" />
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-primary mb-3 w-100">Cari</button>
          </div>
        </form>
      </div>
      <div class="container vh-75 mt-2">

        <form action="/add-tracking" method="GET">
        <button class="btn btn-primary mb-3">Tambah Laporan</button>
      </form>
        <table class="table border">
          <tbody>
            <tr class="table-default text-white">
              <td>Hari, Tanggal</td>
              <td>Mata Pelajaran</td>
              <td>Nilai</td>
              <td>Deskripsi</td>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
            <tr>
              <small style="color: #2e2e2e">
                <td><a href="/tracking/<%= data[i].id %>"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(data[i].createdAt)) %></a></td>
                <td><%= data[i].student.service.name %></td>
                <td><%= data[i].achievement %></td>
                <td><%= data[i].description %></td>
              </small>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Akhir Detail Laporan -->

    <!--footer-->
    <%- include('partials/basic/footer') %>
    
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
