<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/basic/header', { title: 'Profile Tutor' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>
    <div class="container">
      <form action="/profile-tutor" method="POST">
        <h5 class="py-4"><strong>Data Pribadi</strong></h5>
        <!--Data Pribadi-->
        <div class="col-lg-12">
          <!--Per kolom-->
          <div class="box border border-secondary p-4" style="border-radius: 7px">
            <!--Input nama :-->
            <div class="row">
              <div class="col-lg-2">
                <label for="fullname" class="col-form-label">Nama</label>
              </div>
              <div class="col-lg-4">
                <input type="text" id="fullname" name="fullname" class="form-control" value="<%= data.fullname %>" />
              </div>
            </div>
            <!--Input Deskripsi :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="deskripsi" class="col-form-label">Deskripsi</label>
              </div>
              <div class="col-lg-10">
                <textarea type="text" id="deskripsi" rows="4" cols="10" name="deskripsi" class="form-control md-textarea"><%= data.deskripsi %></textarea>
              </div>
            </div>
            <!--Input Tanggal lahirs :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="deskripsi" class="col-form-label">Tanggal Lahir</label>
              </div>
              <div class="col-lg-4">
                <input type="DATE" id="tanggallahir" name="tanggallahir" class="form-control" />
              </div>
            </div>
            <!--Input jenis kelamin-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="jeniskelamin" class="col-form-label">Jenis Kelamin</label>
              </div>
              <div class="col-lg-4">
                <input type="text" id="jeniskelamin" name="jeniskelamin" class="form-control" value="<%= data.jeniskelamin %>" />
              </div>
            </div>
          </div>
        </div>

        <!--Kontak-->
        <h5 class="py-4"><strong>Kontak</strong></h5>
        <div class="col-lg-12">
          <div class="box border border-secondary p-4" style="border-radius: 7px">
            <!--pilih provinsi-->
            <div class="row">
              <div class="col-lg-2">
                <label for="provinsi" class="col-form-label">Provinsi</label>
              </div>
              <div class="dropdown col-lg-4">
                <select class="form-select w-100" id="inputGroupSelect04" name="provinsi">
                  <option value="" disabled selected><%= data.provinsi %></option>
                  <option value="Aceh">Aceh</option>
                  <option value="Bali">Bali</option>
                  <option value="DKI Jakarta">DKI Jakarta</option>
                  <option value="Jawa Barat">Jawa Barat</option>
                  <option value="Jawa Tengah">Jawa Tengah</option>
                  <option value="Daerah Istimewa Yogyakarta">Daerah Istimewa Yogyakarta</option>
                  <option value="NTT">NTT</option>
                  <option value="NTB">NTB</option>
                  <option value="Gorontalo">Gorontalo</option>
                  <option value="Kalimantan Barat">Kalimantan Barat</option>
                  <option value="Kalimantan Utara">Kalimantan Utara</option>
                  <option value="Kalimantan Selatan">Kalimantan Selatan</option>
                  <option value="Lampung">Lampung</option>
                  <option value="Sulawesi Utara">Sulawesi Utara</option>
                  <option value="Sulawesi Selatan">Sulawesi Selatan</option>
                  <option value="Sulawesi Tenggara">Sulawesi Tenggara</option>
                  <option value="Kepulauan Riau">Kepulauan Riau</option>
                  <option value="Sumatera Barat">Sumatera Barat</option>
                  <option value="Sumatera Utara">Sumatera Utara</option>
                  <option value="Jambi">Jambi</option>
                  <option value="Bangka Belitung">Bangka Belitung</option>
                  <option value="Bengkulu">Bengkulu</option>
                  <option value="Papua">Papua</option>
                  <option value="Papua Barat">Papua Barat</option>
                  <option value="Sumatera Selatan">Sumatera Selatan</option>
                  <option value="Banten">Banten</option>
                  <option value="Maluku">Maluku</option>
                </select>
              </div>
            </div>
            <!--pilih kabupaten-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="kota" class="col-form-label">Kota/Kab</label>
              </div>
              <div class="dropdown col-lg-4">
                <select class="form-select w-100" id="inputGroupSelect04" name="kota">
                  <option value="" disabled selected>Kota/Kab</option>
                  <option value="">Banda Aceh</option>
                  <option value="">Jakarta Barat</option>
                  <option value="">Jakarta Timur</option>
                  <option value="">Jakarta Utara</option>
                  <option value="">Jakarta Pusat</option>
                  <option value="">Jakarta Selatan</option>
                  <option value="">Nias</option>
                  <option value="">Medan</option>
                </select>
              </div>
            </div>
            <!--input Alamat-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="address" class="col-form-label">Alamat</label>
              </div>
              <div class="col-lg-10">
                <textarea type="text" id="address" rows="4" cols="10" name="address" class="form-control md-textarea"><%= data.address %></textarea>
              </div>
            </div>
            <!--input Telepon-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="phonenumber" class="col-form-label">Nomor HP</label>
              </div>
              <div class="col-lg-4">
                <input type="text" id="phonenumber" name="phonenumber" class="form-control" value="<%= data.phonenumber %>" />
              </div>
            </div>
          </div>
        </div>

        <!--Pendidikan-->
        <h5 class="py-4"><strong>Pendidikan</strong></h5>
        <div class="col-lg-12">
          <div class="box border border-secondary p-4" style="border-radius: 7px">
            <!--input Pendidikan Terakhir-->
            <div class="row">
              <div class="col-lg-2">
                <label for="penterakhir" class="col-form-label">Pendidikan</label>
              </div>
              <div class="col-lg-10">
                <input type="text" id="penterakhir" name="penterakhir" class="form-control" placeholder="Pendidikan Terakhir" />
              </div>
            </div>
            <!-- input Prestasi-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="prestasi" class="col-form-label">Prestasi</label>
              </div>
              <div class="col-lg-10">
                <textarea type="text" id="prestasi" rows="3" name="prestasi" class="form-control md-textarea" placeholder="Prestasi"></textarea>
              </div>
            </div>
          </div>
        </div>

        <!--Preferensi-->
        <h5 class="py-4"><strong>Preferensi</strong></h5>
        <div class="col-lg-12">
          <div class="box border border-secondary p-4" style="border-radius: 7px">
            <!--input Pendidikan Terakhir-->
            <div class="row">
              <div class="col-lg-2">
                <label for="mapel" class="col-form-label">Mata Pelajaran</label>
              </div>
              <div class="col-lg-10">
                <textarea type="text" id="mapel" name="mapel" class="form-control" placeholder="Mata Pelajaran"></textarea>
              </div>
            </div>
            <!-- input Prestasi-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="gaji" class="col-form-label">Gaji</label>
              </div>
              <!--input gaji-->
              <div class="col-lg-4">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Rp</div>
                  </div>
                  <input type="number" class="form-control" name="gaji" id="gaji" value="<%= data.gaji %>" style="opacity: 0.5" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Button submit-->
        <div class="col-lg-12"></div>
        <div class="form-group mt-3 mb-4 text-end">
          <button type="submit" class="btn btn-primary" style="background-color: #784cd0; border: none; width: 250px">Simpan</button>
        </div>
      </form>
    </div>

   <!--footer-->
   <%- include('partials/basic/footer') %>

  </body>
</html>
