<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/basic/header', { title: 'Tambah Laporan' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start mt-4 mb-2">
          <li class="page-item">
            <a class="page-link border-0 text-secondary" href="/tutor-dashboard" tabindex="-1"> <img src="/img/tambahLaporan/Name=Back.svg" alt="" />Kembali</a>
          </li>
        </ul>
      </nav>
      <h2 class="mb-3">Tambah Laporan</h2>
      <!-- <div class="mb-3 h2">Tambah Laporan</div> -->
      <form action="/add-tracking" method="POST">
        <div class="col-lg-12">
          <!--Per kolom-->
          <input hidden name="student" value="5" />
          <div class="box border border-secondary p-5" style="border-radius: 7px">
            <!--Input Tanggal :-->
            <div class="row">
              <div class="col-lg-2">
                <label for="tanggalLahir" class="col-form-label h4">Tanggal</label>
              </div>
              <div class="col-lg-4">
                <input type="date" id="tanggalLahir" class="form-control text-secondary" , name="createdAt" />
              </div>
            </div>
            <!--Pilih Mapel :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="mataPelajaran" class="col-form-label h4">Student</label>
              </div>
              <div class="dropdown col-lg-4">
                <select class="form-select w-100 text-secondary" id="inputGroupSelect04" aria-label="Example select with button addon" name="studentId">
                  <option selected>Student</option>
                  <% for (let i = 0; i < data.length; i++) { %>
                  <option value="<%= data[i].id %>"><%= data[i].child.name %></option>

                  <% } %>
                </select>
              </div>
            </div>
            <!--Input Deskripsi :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="inputDesc" class="col-form-label h4">Deskripsi</label>
              </div>
              <div class="col-lg-8">
                <textarea type="text" id="deskripsi" rows="4" cols="10" name="description" class="form-control md-textarea" placeholder="Apa saja yang diberikan oleh sekolah hari ini?"></textarea>
              </div>
            </div>
            <!--Input Nilai :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="inputNilai" class="col-form-label h4"> Nilai</label>
              </div>
              <div class="col-lg-4">
                <input type="text" id="inputNilai" class="form-control" placeholder="Masukan nilai" name="achievement" />
              </div>
            </div>

            <!--Input Perilaku :-->
            <div class="row pt-3">
              <div class="col-lg-2">
                <label for="inputPerilaku" class="col-form-label h4">Perilaku</label>
              </div>
              <div class="col-lg-8">
                <textarea type="text" id="perilaku" rows="4" cols="10" class="form-control md-textarea" placeholder="Apa yang saja murid lakukan hari ini?" name="behavior"></textarea>
              </div>
            </div>
          </div>
          <div class="col-lg-12"></div>
          <div class="form-group m-3 text-end">
            <button type="submit" class="btn btn-primary" style="background-color: #784cd0; border: none; width: 250px">Simpan</button>
          </div>
        </div>
      </form>
    </div>

    <!--footer-->
    <%- include('partials/basic/footer') %>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
