<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/basic/header', { title: 'Tambah Service' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>  
    
    <div class="container dashboard-container my-3">
      <form class="d-flex" action="/addchild">
        <button type="submit" class="btn btn-primary">Tambah Data Anak</button>
      </form>
      <br />
      <% for (let i = 0; i < data.length; i++) { %>
      <div class="col-lg-12">
        <div class="box border border-secondary p-5" style="border-radius: 7px">
          <div class="row d-md-flex align-items-md-center">
            <div class="col-lg-3">
              <picture>
                <img src="/img/homepage/Ardhan.png" alt="" width="200px" />
              </picture>
            </div>
            <div class="col-lg-4">
              <h2 class="text-start"><%= data[i].name %></h2>
              <small style="color: #585859"><%= data[i].birthday %></small>
              <br />
              <small style="color: #585859"><%= data[i].kelas %> SMP</small>
              <br />
              <small style="color: #585859"><%= data[i].deskripsi %></small>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6">
              <form class="text-start" action="child/<%= data[i].userId %>">
                <button type="submit" class="btn btn-primary float-right">Lihat Data Anak</button>
              </form>
            </div>
            <div class="col-lg-6">
              <form class="text-end" action="profile">
                <button type="submit" type="submit" class="btn btn-outline-primary me-2">Edit Data Anak</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <br />
      <% } %>
    </div>

     <!--footer-->
    <%- include('partials/basic/footer') %>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
