<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/basic/header', { title: 'Penawaran - Tutor' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>  

    <div class="container mt-4">
      <h3>Penawaran Terakhir</h3>
      <form class="row row justify-content-around">
        <div class="form-group has-search col-9">
          <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" id="inputSearch" placeholder="masukan tanggal, mata pelajaran" />
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary mb-3 w-100">Cari</button>
        </div>
      </form>
    </div>

    <div class="container dashboard-container">
      <table class="table">
        <tbody>
          <tr class="table-default text-white">
            <td>Nama Orang Tua</td>
            <td>Nama Anak</td>
            <td>Nama Pelajaran</td>
            <td>Kelas</td>
            <td>Status</td>
          </tr>
          <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><a href="offer/<%= data[i].id%>"><%= data[i].child.user.username %></a></td>
            <td><%= data[i].child.name %></td>
            <td><%= data[i].service.name %></td>
            <td><%= data[i].child.kelas %></td>
            <td><%= data[i].status %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

   <!--footer-->
   <%- include('partials/basic/footer') %>
   
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
