<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="css/tutor_diterima.css" />
    <%- include('partials/basic/header', { title: 'Penawaran - Diterima' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>  

    <!---ISI---->
    <div class="container my-3">
      <a href="" class="fs-5" style="color: black; text-decoration: none"><img src="/img/tutor/Name=Back.svg" alt="" width="28px" /> Kembali</a>
      <div class="box border border-secondary p-4 mt-4" style="border-radius: 7px">
        <!--tampilan detail penawaran diterima :-->

        <div class="row">
          <div class="col-lg-2">
            <p>Orang Tua</p>
            <p>Anak</p>
            <p>Deskripsi</p>
            <p>Alamat</p>
            <p>Mata Pelajaran</p>
            <p>Kontrak</p>
            <p>Gaji</p>
            <p>Jadwal</p>
          </div>
          <div class="col-lg-10">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
      <!--Button-->
      <!-- <div class="col-lg-12"></div> -->
      <form action="https://wa.me/6288706839711">
        <div class="form-group mt-3 mb-4 text-end">
          <button type="submit" class="btn btn-primary" style="background-color: #784cd0; border: none; width: 250px">Hubungi</button>
        </div>
      </form>
    </div>

   <!--footer-->
   <%- include('partials/basic/footer') %>

  </body>
</html>
