<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/basic/header', { title: 'Penawaran - Menunggu' }) %>
  </head>
  <body>
    <%- include('partials/basic/navbar-tutor') %>  

    <!---ISI---->
    <div class="container my-3">
      <a href="/tutor-dashboard" class="fs-5" style="color: black; text-decoration: none"><img src="/img/tutor/Name=Back.svg" alt="" width="28px" /> Kembali</a>
      <div class="box border border-secondary p-4 mt-4" style="border-radius: 7px">
        <!--tampilan detail penawaran diterima :-->
        <% for (let i = 0; i < data.length; i++) { %>
        <div class="row">
          <div class="col-lg-2">
            <p>Orang Tua</p>
            <p>Anak</p>
            <p>Deskripsi</p>
            <p>Alamat</p>
            <p>Mata Pelajaran</p>
            <p>Kontrak</p>
          </div>
          <div class="col-lg-10">
            <p><%= data[i].child.user.username %></p>
            <p><%= data[i].child.name %></p>
            <p><%= data[i].child.deskripsi %></p>
            <p><%= data[i].child.user.address %></p>
            <p><%= data[i].service.name %></p>
            <p><%= data[i].child.user.phonenumber %></p>
          </div>
        </div>
      </div>

      <!--Button-->
      <div class="col-lg-12"></div>
      <div class="form-group mt-3 mb-4 text-end">
        <form action="/offer/reject/<%= data[i].id %>" method="POST">
          <button type="submit" class="btn" style="background-color: white; width: 250px; border: 0.4px solid purple; color: purple">Tolak</button>
        </form>
        <form action="/offer/confirm/<%= data[i].id %>" method="POST">
          <button type="submit" class="btn btn-primary my-2" style="background-color: #784cd0; border: none; width: 250px">Terima</button>
        </form>
      </div>
    </div>
    <% } %>

    <!--footer-->
    <%- include('partials/basic/footer') %>
  </body>
</html>
