<section class="jumbotron-1 jumbotron-fluid text-center">
    <div class="container">
      <h2 class="mb-4">Add Material</h2>
      <form action="/addmaterial" method="POST">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>Nama</td>
                <td><input class="form-control" type="text" name="name" /></td>
              </tr>
              <tr>
                <td>Title </td>
                <td><input class="form-control" type="text" name="title" /></td>
              </tr>
              <tr class="mb-5">
                <td>Description</td>
                <td><input class="form-control" type="text" name="description" /></td>
              </tr>
              <tr>
                <td>Subject </td>
                <td>
                      <select class="form-select w-100 text-secondary" id="inputGroupSelect" name="subjectId">
                        <option selected disabled></option>
                        <% for (let i = 0; i < data.length; i++) { %>
                        <option value="<%= data[i].id%>"><%= data[i].name%></option>
                        <% } %>
                      </select>
                    </td>
              </tr>
              <tr></tr>
            
            </tbody>
          </table>
          <div class="form-group text-end p-3">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  