<div class="container vh-75">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-start mt-4 mb-2">
      <li class="page-item">
        <a class="page-link border-0 text-secondary" href="/tutor-dashboard" tabindex="-1"> <img src="/img/tambahLaporan/Name=Back.svg" alt="" />Kembali</a>
      </li>
    </ul>
  </nav>
  <h3 class="mb-3">Detail Laporan</h3>
  <!-- <div class="mb-3 h2">Detail Laporan</div> -->
  <div class="col-lg-12">
    <% for (let i = 0; i < data.length; i++) { %>
    <div class="box border border-secondary p-3" style="border-radius: 7px">
      <!--tampilan detail Laporan:-->
      <h4 class="mt-0" style="font-size: 22px"> <%= data[i].createdAt %> - <%= data[i].student.service.name %></h4>
      <div class="row">
        <div class="col-2">
          <small style="font-size: 17px">Deskripsi</small>
        </div>
        <div class="col-10">
          <small style="font-size: 17px"><%= data[i].description %> </small>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <small style="font-size: 17px">Nilai Tugas </small>
        </div>
        <div class="col-10">
          <small style="font-size: 17px"><%= data[i].achievement %></small>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <small style="font-size: 17px">Perilaku</small>
        </div>
        <div class="col-10">
          <small style="font-size: 17px"><%= data[i].behavior %></small>
        </div>
      </div>
    </div>

    <% } %>
  </div>
</div>


