  <!-- Detail Murid -->
  <div class="container py-1">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start mt-4 mb-2">
        <li class="page-item">
          <a class="page-link border-0 text-secondary" href="/parents-dashboard" tabindex="-1"> <img src="/img/tambahLaporan/Name=Back.svg" alt="" />Kembali</a>
        </li>
      </ul>
    </nav>
    <div class="col-lg-12">
      <div class="box border border-secondary p-5" style="border-radius: 7px">
        <div class="row d-md-flex align-items-md-center">
          <div class="col-lg-3">
            <picture>
              <img src="/img/homepage/Ardhan.png" alt="" width="200px" />
            </picture>
          </div>

          <% for (let i = 0; i < data.length; i++) { %>
          <div class="col-lg-9">
            <h2 class="text-start"><%= data[0].student.child.name %></h2>
            <small style="color: #585859"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(data[0].student.child.birthday)) %></small>
            <br />

            <small style="color: #585859"><%= data[0].student.service.name %></small>
            <br />
            <small style="color: #585859"><%= data[0].student.child.id%></small>
            <br />
            <small style="color: #585859"><%= data[0].student.child.deskripsi %></small>
          </div>
          <% break %> <% } %>
        </div>
      </div>
    </div>
    <!-- Akhir Detail Murid -->
    <!-- Detail Laporan -->
    <div class="container vh-75 mt-3">
      <h3 class="mb-3">Laporan</h3>
      <!-- <div class="mb-3 h2">Detail Laporan</div> -->
      <div class="col-lg-12">
        <% for (let i = 0; i < data.length; i++) { %>
        <div class="box border border-secondary p-3" style="border-radius: 7px">
          <!--tampilan detail Laporan:-->
          <h4 class="mt-0" style="font-size: 22px"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(data[i].createdAt)) %> - <%= data[i].student.service.name %></h4>
          <div class="row">
            <div class="col-2">
              <small style="font-size: 17px">Deskripsi</small>
            </div>
            <div class="col-10">
              <small style="font-size: 17px"><%= data[i].description %> </small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <small style="font-size: 17px">Nilai Tugas </small>
            </div>
            <div class="col-10">
              <small style="font-size: 17px"><%= data[i].achievement %></small>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <small style="font-size: 17px">Perilaku</small>
            </div>
            <div class="col-10">
              <small style="font-size: 17px"><%= data[i].behavior %></small>
            </div>
          </div>
        </div>
        <% break %> <% } %>
      </div>
      <div >
        <br>
      </div>

      <form class="row row justify-content-around">
        <div class="form-group has-search col-9">
          <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" id="inputSearch" placeholder="masukan tanggal, mata pelajaran" />
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary mb-3 w-100">Cari</button>
        </div>
      </form>

      <table class="table border">
        <tbody>
          <tr class="table-default text-white text-center">
            <td>Hari, Tanggal</td>
            <td>Mata Pelajaran</td>
            <td>Nilai</td>
            <td>Deskripsi</td>
          </tr>
          <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <small style="color: #2e2e2e">
              <td><a href="/laporan/<%= data[i].id %>"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(data[i].createdAt)) %></a></td>
              <td><%= data[i].student.service.name %></td>
              <td><%= data[i].achievement %></td>
              <td><%= data[i].description %></td>
            </small>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Akhir Detail Laporan -->







<!-- <br /><br /><br /><br />
<div class="container">
  <br />
  <% for (let i = 0; i < data.length; i++) { %>
  <div class="col-lg-12">
    <div class="box border border-secondary p-5" style="border-radius: 7px">
      <div class="row d-md-flex align-items-md-center">
        <div class="col-lg-3">
          <picture>
            <img src="/img/homepage/Ardhan.png" alt="" width="200px" />
          </picture>
        </div>

        <div class="col-lg-4">
          <h2 class="text-start"><%= data[i].name %></h2>
          <small style="color: #585859"><%= data[i].birthday %></small>
          <br />
          <small style="color: #585859"><%= data[i].kelas %> SMP</small>
          <br />
          <small style="color: #585859"><%= data[i].deskripsi %></small>
        </div>
      </div>
    </div>
  </div>
  <br />
  <% } %>
</div> -->
