<section class="jumbotron-1 jumbotron-fluid text-center">
  <div class="container">
    <h2 class="mb-4">Data Anak</h2>
    <form action="/addchild" method="POST">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td>Nama</td>
              <td><input class="form-control" type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Tanggal Lahir</td>
              <td><input class="form-control" type="date" name="birthday" /></td>
            </tr>
            <tr class="mb-5">
              <td>Kelas</td>
              <td>
                <select class="form-select my-3" aria-label=".form-select-lg example" name="kelas">
                  <option selected disabled>Open this select menu</option>
                  <option value="1 SMP">1 SMP</option>
                  <option value="2 SMP">2 SMP</option>
                  <option value="3 SMP">3 SMP</option>
                  <option value="1 SD">1 SD</option>
                  <option value="2 SD">2 SD</option>
                  <option value="3 SD">3 SD</option>
                  <option value="4 SD">4 SD</option>
                  <option value="5 SD">5 SD</option>
                  <option value="6 SD">6 SD</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Age</td>
              <td>
                <input class="form-control" type="text" name="age" />
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td>Deskripsi</td>
              <td><textarea class="form-control" type="textarea" name="deskripsi"></textarea></td>
            </tr>
            <!-- <tr>
              <td>  </td>
            </tr> -->
          </tbody>
        </table>
        <div class="form-group text-end p-3">
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </div>
    </form>
  </div>
</section>
