<section class="jumbotron-1 jumbotron-fluid text-center">
    <div class="container">
      <h2 class="mb-4">Data Anak</h2>
      <form action="/child/edit" method="POST">
        <div class="table-responsive">
          <table class="table">
            <% for (let i = 0; i < data.length; i++) { %>
            <tbody>
              <tr>
                <td>Nama</td>
                <td><input class="form-control" type="text" name="name" value="<%= data[i].name%>"/></td>
              </tr>
              <tr>
                <td>Tanggal Lahir</td>
                <td><input class="form-control" type="date" name="birthday" value="<%= data[i].birthday%>"/></td>
              </tr>
              <tr class="mb-5">
                <td>Kelas</td>
                <td>
                  <select class="form-select my-3" aria-label=".form-select-lg example" name="kelas" value="<%= data[i].kelas%>">
                    <option selected disabled><%= data[i].kelas%></option>
                    <option value="1 SMP">1 SMP</option>
                    <option value="2 SMP">2 SMP</option>
                    <option value="3 SMP">3 SMP</option>
                    <option value="1 SD">1 SD</option>
                    <option value="2 SD">2 SD</option>
                    <option value="3 SD">3 SD</option>
                    <option value="4 SD">4 SD</option>
                    <option value="5 SD">5 SD</option>
                    <option value="6 SD">6 SD</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Age</td>
                <td>
                  <input class="form-control" type="text" name="age"  value="<%= data[i].age%>"/>
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td>Deskripsi</td>
                <td><textarea class="form-control" type="textarea" name="deskripsi" value="<%= data[i].deskripsi%>" ></textarea></td>
              </tr>
              <tr>
                <td>  <input hidden name="id" value="<%= data[i].id%>"</td>
              </tr>
            </tbody>
            <% } %>
          </table>
          <div class="form-group text-end p-3">
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  