<!---->
<div class="container mt-4">
  <h3>Penawaran Terakhir</h3>
  <form class="row row justify-content-around">
    <div class="form-group has-search col-9">
      <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" id="inputSearch" placeholder="masukan tanggal, mata pelajaran" />
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary mb-3 w-100">Cari</button>
    </div>
  </form>
</div>

<div class="container dashboard-container">
  <table class="table">
    <tbody>
      <tr class="table-default text-white">
        <th>Nama Anak</th>
        <th>Mata Pelajaran</th>

        <th>Tutor</th>
        <th>Status</th>
        <th></th>
      </tr>
      <% for (let i = 0; i < data.length; i++) { %>

      <tr>
        <a href="">
          <td><%= data[i].child.name %></td>
          <td><%= data[i].service.name %></td>
          <td><%= data[i].service.user.username %></td>
          <td><%= data[i].status %></td>
          <td>
            <form action="penawaran/<%= data[i].id %>"><button type="submit" class="btn btn-primary">View</button></form>
          </td>
        </a>
      </tr>

      <% } %>
    </tbody>
  </table>
</div>
