<div class="container dashboard-container mt-4">
  <h1>Detail Penawaran</h1>
  <p></p>
  <div class="table-responsive border rounded border-dark">
    <table class="table">
      <% for (let i = 0; i < data.length; i++) { %>
      <tbody>
        <tr>
          <td>Nama Tutor</td>
          <td><%= data[i].service.user.username %></td>
        </tr>
        <tr>
          <td>Alamat</td>
          <td><%= data[i].service.user.address %></td>
        </tr>
        <tr>
          <td>Mata Pelajaran</td>
          <td><%= data[i].service.name %></td>
        </tr>
        <tr>
          <td>Kontrak</td>
          <td><%= data[i].service.user.phonenumber %></td>
        </tr>
        <tr>
          <td>Gaji</td>
          <td><%= data[i].service.user.gaji %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= data[i].status %></td>
        </tr>
      </tbody>
      <% } %>
    </table>
  </div>
  <form action="https://wa.me/6288706839711" class="text-end my-3">
    <button type="hidden" class="btn btn-primary float-right btn-hub" id="button-hub">Hubungi</button>
  </form>
</div>
