<div class="container dashboard-container my-3">
  <form class="d-flex" action="/addchild">
    <button type="submit" class="btn btn-primary">Tambah Data Anak</button>
  </form>
  <br />
  <% for (let i = 0; i < data.length; i++) { %>
  <div class="col-lg-12">
    <div class="box border border-secondary p-5" style="border-radius: 7px">
      <div class="row d-md-flex align-items-md-center">
        <div class="col-lg-3">
          <picture>
            <img src="/img/homepage/Ardhan.png" alt="" width="200px" />
          </picture>
        </div>
        <div class="col-lg-9">
          <h2 class="text-start"><%= data[i].name %></h2>
          <small style="color: #585859"><%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date(data[i].birthday)) %></small>
          <br />
          <small style="color: #585859"><%= data[i].kelas %> </small>
          <br />
          <small style="color: #585859"><%= data[i].deskripsi %></small>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6">
          <form class="text-start" action="child/<%= data[i].userId %>">
            <button type="submit" class="btn btn-primary float-right">Lihat Data Anak</button>
          </form>
        </div>
        <div class="col-lg-6">
          <form class="text-end" action="child/edit/<%= data[i].userId %>">
            <button type="submit" type="submit" class="btn btn-outline-primary me-2">Edit Data Anak</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />
  <% } %>
</div>
<!-- <div class="container">
  <h2>Laporan<br /></h2>
</div>
<div class="container">
  <input type="search" /><button class="btn btn-primary" type="button">Cari</button>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Hari, Tanggal</th>
          <th>Mata Pelajaran</th>
          <th>Deskripsi</th>
          <th>Perilaku</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 2</td>
          <td>Cell 2</td>
        </tr>
        <tr>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 4</td>
          <td>Cell 4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
