<form action="/pesan" method="POST">
    <!--Isi detail -->
    <div class="container" style="padding-left: 3rem; padding-right: 3rem; margin-top: 6rem">
      <!--Detail box profile tutor-->
      <div class="col-lg-10 border border-dark" style="margin: 4rem; border-radius: 7px">
        <div class="row d-md-flex align-items-md-center">
          <div class="col-lg-3 m-5">
            <picture>
              <img src="/img/homepage/Ardhan.png" alt="" width="200px" />
            </picture>
          </div>
          <% for (let i = 0; i < data.length; i++) { %>
          <div class="col-lg-4 m-4">
            <input hidden name="serviceId" value="<%= data[i].id %>" id="<%= data[i].id %>" />
            <h2 class="text-start"><%= data[i].user.fullname %></h2>

            <small style="color: #585859"><%= data[i].user.address %></small>
            <br />
            <small style="color: #585859"><%= data[i].user.provinsi%></small>
          </div>
        </div>
      </div>

      <!--Detail box ke 2 : Deskripsi tutor-->
      <div class="col-lg-10 border border-dark" style="margin: 4rem; border-radius: 10px">
        <div class="row">
          <div class="col-lg-6 border-end">
            <div class="row m-5">
              <div class="col-lg-6 pt-3 ps-2">
                <h6 class="pb-2">Jenis Kelamin</h6>
                <h6 class="pb-2">Email</h6>
                <h6 class="pb-2">Phone Number</h6>
              </div>

              <div class="col-lg-6 pt-3 ps-5" style="color: #7749f8">
                <p style="font-size: 15px"><%= data[i].user.jeniskelamin %></p>
                <p style="font-size: 15px"><%= data[i].user.email %></p>
                <p style="font-size: 15px"><%= data[i].user.phonenumber %></p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row m-5">
              <div class="col-lg-6 pt-3 ps-1">
                <h6 class="pb-2">Rating</h6>
                <h6 class="pb-2">Gaji</h6>
              </div>
              <div class="col-lg-6 pt-3 ps-5" style="color: #7749f8">
                <p style="font-size: 14px"><i class="bi bi-star-fill text-warning"></i> <%= data[i].rating %></p>
                <p style="font-size: 14px"><%= data[i].user.gaji %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container border p-5">
          <div class="col-lg-12">
            <!--ALAMAT TUTOR-->
            <div class="box">
              <h6>Alamat</h6>
              <p style="font-size: 14px"><%= data[i].user.address %></p>
            </div>
            <!--DESKRIPSI-->
            <div class="box">
              <h6>Deskripsi</h6>
              <p style="font-size: 14px">
                <!--ISI DESKRIPSI TUTOR-->
                <%= data[i].user.deskripsi %>
              </p>
            </div>
            <% break %> <% } %>
            <!--KELAS PEMBELAJARAN-->
            <div class="box pt-3">
              <h6>Kelas Pembelajaran</h6>
              <div class="row">
                <% for (let i = 0; i < data.length; i++) { %>
                <div class="col-lg-3">
                  <!--Lakukan Foreach sbnyak 3x-->
                  <p style="font-size: 14px"><i class="bi bi-check2"></i> <%= data[i].subject.kelas %><!--ISI DATA KELAS--></p>
                </div>
                <% } %>
              </div>
            </div>

            <div class="box pt-3">
              <h6>Materi Pembelajaran</h6>
              <div class="row">
                <% for (let i = 0; i < data.length; i++) { %>
                <div class="col-lg-3">
                  <!--Lakukan Foreach sbnyak 3x-->
                  <p style="font-size: 14px"><i class="bi bi-check2"></i> <%= data[i].subject.name%><!--ISI DATA KELAS--></p>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!--AKHIR BAGIAN ALAMT, DESC-->
      </div>
      <!--AKHIR DETAIL BOX2-->
    </div>
    <!--Akhir isi detail-->

    <div class="container" style="margin-left: 9rem">
      <!--DROPDOWN LIST JADWAL TUTOR-->
      <div class="row ms-5">
        <div class="col-lg-2">
          <h6>Pilih Jadwal</h6>
        </div>
        <div class="col-lg-8">
          <div class="dropdown col-lg-4">
            <select class="form-select w-100 text-secondary" id="inputGroupSelect" name="pilihJam">
              <option selected disabled>Pilih Hari dan Jam</option>
            </select>
          </div>
        </div>
      </div>
      <!--DROPDOWN LIST ANAK-->
      <div class="row ms-5 my-4">
        <div class="col-lg-2">
          <h6>Pilih Anak</h6>
        </div>
        <div class="col-lg-8">
          <div class="dropdown col-lg-4">
            <select class="form-select w-100 text-secondary" id="inputGroupSelect" name="childId">
              <option selected disabled></option>
              <% for (let i = 0; i < data1.length; i++) { %>
              <option value="<%= data1[i].id%>"><%= data1[i].name%></option>
              <% } %>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!--BUTTON AJUKAN PENAWARAN-->
    <div class="form-group my-5 text-center">
      <button type="submit" class="btn btn-primary" style="background-color: #784cd0; border: none; width: 250px">Ajukan Penawaran</button>
    </div>
  </form>
