<!-- ISI -->
<form action="/service" method="POST">
    <div class="container pt-5 mt-5 pb-4 mb-4 text-center">
      <h5>Cari Tutor Pendamping Anak Sekarang</h5>
      <p>Menjadi teman sekaligus pengajar</p>
      <div class="row justify-content-center">
        
        <div class="dropdown col-lg-3">
          <select name="subjectName" class="form-select w-100 text-secondary" id="inputGroupSelect04" aria-label="Example select with button addon" style="font-size: 14px">
            <option disabled selected>Mata Pelajaran</option>
            <% for (let x = 0; x < data1.length; x++) { %>
              <option value="<%= data1[x].id %>"><%= data1[x].name %></option>
            <% } %>
          </select>
        </div>
        <div class="dropdown col-lg-6">
          <input class="btn btn-primary col-3" type="submit" value="Cari">
        </div>
        
      </div>
</form>



      <!-- <div class="container mx-auto">
      <div class="row pt-3 pb-4 mb-4 justify-content-center">
        <div class="col ms-5 ps-5 d-grid gap-5">
          <label for="inputNilai" class="col-form-label">Gaji</label>
        </div>
        <div class="col-lg-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Rp</div>
            </div>
            <input type="number" class="form-control" name="gaji" id="gaji" placeholder="0" style="opacity: 0.5;">
          </div>
        </div>
        <div class="col me-5">
          <label for="inputNilai" class="col-form-label">Lokasi</label>
        </div>
        <div class="col-lg-3">
          <input
            type="text"
            id="inputNilai"
            class="form-control"
            style="font-size: 14px"
            placeholder="Masukan Nama Kota"
          />
        </div>
      </div>
      </div> -->
      <% for (let i = 0; i < data.length; i++) { %>
      <form action="service/<%= data[i].id %>">
        <div class="col-12 pt-5 mt-5">
          <div class="box border border-secondary p-4" style="border-radius: 7px">
            <div class="row">
              <div class="col-lg-1 ps-1">
                <picture>
                  <img class="ms-5 mt-2" src="/img/homepage/Ardhan.png" alt="" width="130px" />
                </picture>
              </div>

              <div class="col-lg-7 mt-10">
                <div class="px-5 mx-5 text-start">
                  <h5><%= data[i].name %></h5>
                  <h5 style="color: #585859; font-size: 16px; font-weight: normal"><%= data[i].subject.name %></h5>
                  <h5 style="color: #585859; font-size: 16px; font-weight: normal"><%= data[i].user.address %></h5>
                </div>
              </div>
              <div class="col-lg-4 text-end mt-10">
                <div class="px-5 mx-5">
                  <br />
                  <h5>Rp <%= data[i].user.gaji %></h5>
                  <h5 style="color: #585859; font-size: 16px; font-weight: normal"><img src="/img/homepage/star.svg" class="" alt="" /><%= data[i].rating %>.0</h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 px-5 pt-4 text-start">
                <p><%= data[i].user.deskripsi %></p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Pesan</button>
          </div>
        </div>
      </form>
      <% } %>

      <nav aria-label="Page navigation example">
        <ul class="pagination mt-5 justify-content-center" style="color: #7749f8">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>